body {
    background-color: beige;
}

.titulo {
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    border-color: green;
    border-width: 2px;
    border-style: solid;

}

.botao {
    padding: 5px;
    background-color: brown;
    border-radius: 10px;
}

.lista__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.organizacao__botoes {
    display: flex;
    justify-content: space-around;
}