<h1 class="titulo">Controle de compras</h1>
<div class="organizacao__botoes">
  <div class="lista__botoes">
    <!-- <button class="botao" onclick="console.log('TESTE 1')">Itens</button> -->
    <button class="botao" [routerLink]="['/item-base']">Itens</button>
    <button class="botao" [routerLink]="['/produto']">Produtos</button>
    <button class="botao" onclick="console.log('TESTE 3')">Compras</button>
  </div>

  <div class="lista__botoes">
    <button class="botao" onclick="console.log('TESTE 4')">Relatório 1</button>
    <button class="botao" onclick="console.log('TESTE 5')">Relatório 2</button>
    <button class="botao" onclick="console.log('TESTE 6')">Relatório 3</button>
  </div>
</div>
