<h1>Criação de Produto</h1>
<mat-form-field>
  <mat-label>Nome</mat-label>
  <input
    matInput
    placeholder="Nome"
    [formControl]="nomeForm"
    (blur)="checkNomeForm()"
    required
  />
  @if (nomeForm.invalid) {
  <mat-error>{{ erroNomeMsg }}</mat-error>
  }
</mat-form-field>

<mat-form-field>
  <mat-label>Descrição</mat-label>
  <input matInput [formControl]="descricaoForm" />
</mat-form-field>

<mat-form-field>
  <mat-label>Quantidade</mat-label>
  <input
    matInput
    placeholder="Quantidade"
    [formControl]="quantidadeForm"
    (blur)="checkQuantidadeFrom()"
    type="number"
    required
  />
  @if(quantidadeForm.invalid){
  <mat-error>{{ erroQuantidadeMsg }}</mat-error>
  }
</mat-form-field>

<mat-form-field>
  <mat-label>Gramatura</mat-label>
  <input
    matInput
    placeholder="Gramatura"
    [formControl]="gramaturaForm"
    (blur)="checkGramaturaFrom()"
    required
  />
  <mat-hint>Valores: g, Kg, m ou ml</mat-hint>
  @if (gramaturaForm.invalid){
  <mat-error>{{ erroGramaturaMsg }}</mat-error>
  }
</mat-form-field>

<mat-form-field>
  <mat-label>Escolha a marca</mat-label>
  <mat-select
    [formControl]="marcaSelectForm"
    (blur)="checkTipoSelectForm()"
    required
  >
    @for (marca of marcas; track $index) {
    <mat-option [value]="marca.id">{{ marca.nome }}</mat-option>
    }
  </mat-select>
  @if (marcaSelectForm.invalid){
  <mat-error>{{ erroMarcaSelectMsg }}</mat-error>
  }
</mat-form-field>

<mat-form-field>
  <mat-label>Escolha o item-base</mat-label>
  <mat-select
    [formControl]="itemBaseSelectForm"
    (blur)="(checkItemBaseSelectForm)"
    required
  >
    @for(item of itens; track $index) {
    <mat-option [value]="item.id">{{ item.nome }}</mat-option>
    }
  </mat-select>
  @if (itemBaseSelectForm.invalid){
  <mat-error>{{ erroItemBaseSelectMsg }}</mat-error>
  }
</mat-form-field>

<button mat-button (click)="salvar()" [disabled]="isSalvarDissable()">
  Salvar
</button>
<button class="botao" mat-button [routerLink]="['/produto']">Cancelar</button>
